<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Toner.EndpointUrl" value="https://gateway.watsonplatform.net/tone-analyzer/api/v3/tone?version=2016-05-18"/>
  </appSettings>
  <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>